*{margin: 0;
padding: 0;}
.logo_header{width:17%;
height:25%;}
.text_logo{
	padding: 0.1em;
	position: relative;
	left: 27%;
	top: 20%;
	
	
	
	
}
.txt_logo{font-size: 50px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	text-shadow: 5px 5px 5px #218EC3
		
}
.login-user{
	position: relative;
	float: right;
}
.text_header{
	position: absolute;
	float: left;
	left: 35%;
	top: 5%;
}
.col-md-2_sp{margin:  0.3em; padding: 0,1em;
	text-align: center;
}
.list-sp{margin: 3em}









#navbarText li{
	float: left;
	width: 200px;
	font-size: 25px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	position: relative;
	margin: 10px;
	
}
#navbarText a:hover{
	text-decoration: none;
	background-color: antiquewhite;
}
#navbarText a{
	text-decoration: none;
	color: aliceblue;
}
#navbarText{
	
	width: 100%;
	height: 60px;
	background-color: #1D1414;
	
	
}
#navbarText .menu-2{
	display: none;
	position: absolute;
}
#navbarText li:hover> .menu-2{
	display: block;
	background-color: #1D1414;
}



.footer{width: 100%;

	background-color: #1D1414;
}
#content-body{
padding: 0;}



