* {
    margin: 0;
    padding: 0px;
}
body {
    text-align: center;
}
#text-modal{position: absolute; float: right; right: 250px;}
#img-modal{position: absolute;width: 498px; height: 375px;; top: 70px;}

.logo_header {
    width: 17%;
    height: 25%;
}
.form-group {font-size: 20px;}
.text_logo {
    padding: 0.1em;
    position: relative;
    text-align: center;
    left: 15%;
    top: 20%;
}
.txt_logo {
    font-size: 50px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
    text-shadow: 5px 5px 5px #218EC3
}
.login-user {
    position: relative;
    float: right;
}
.text_header {
    position: absolute;
    float: left;
    left: 35%;
    top: 5%;
}
.col-md-2_sp {
    margin: 0.3em;
    padding: 0, 1em;
    text-align: center;
}
.list-sp {
    margin: 3em
}
.giatien{color: red;}
#if h3, h6 {
    text-align: center;
}
#panel-main {
    padding: 0px;
    width: 100%
}
#panel-img {
    width: 100%;
    height: auto;
}
#col-menu {
    padding: 0;
}
#main {
    padding: 0;
}
#dropdownMenu2 {
    background-color: #1D1414;
    color: white;
    font-size: 15px;
    position: relative;
    padding: 0;
    margin: 0;
}
#navbarText li {
    float: left;
    width: 100px;
    font-size: 16px;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    position: relative;
    margin: 10px;
}
#navbarText a:hover {
    text-decoration: none;
    background-color: #000000;
}
#navbarText a {
    text-decoration: none;
    color: aliceblue;
}
#navbarText {
    width: 100%;
    height: 60px;
    background-color: #1D1414;
}
#navbarText .menu-2 {
    display: none;
    position: absolute;
}
#menu-2 li {
    font-size: 15px;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"
}
#footer {
    width: 100%;
    background-color: #1D1414;
}
.inf li {
    color: white;
    text-align: center;
}
#content-body {
    padding: 0;
}
@media (max-width:768px) {
    .menu li {
        font-size: 25px;
    }
    .logo {
        width: 100px;
        height: 100px;
        position: fixed;
        float: left;
        left: 5px;
    }
    .txt_logo {
        font-size: 30px;
        position: relative;
        float: left;
        left: 25%;
        top: 15%;
    }
    #inf h5 {
        font-size: 12px;
    }
    #inf h6 {
        font-size: 10px;
    }
    #inf {
        position: relative;
        float: left;
        left: 13%;
    }
    .form {
        font-size: 10px;
    }
    #btndangnhap {
        font-size: 10px;
    }
    #btndangki {
        font-size: 10px;
    }
    #btnmenu {
        font-size: 10px;
    }
    #navbarText li {
        float: left;
        left: 40%;
        font-size: 13px;
        font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
        position: relative;
        margin: 10px;
    }
    #navbarText {
        position: absolute;
        width: 100%;
        height: auto;
        background-color: #1D1414;
        text-align: center;
    }
    #menu-2 {
        left: 95% !important;
        transform: translate3d(2px, 2px, 2px) !important;
        min-width: 0;
    }
    #menu-2 li {
        left: 20% !important;
    }
	#text-modal{font-size: 13px;}
}